server:
  port: 8888

spring:
  application:
    name: gateway

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true                 # ROUTAGE AUTOMATIQUE
          lower-case-service-id: true   # URL en minuscules
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/